@page
@model Assettmanagement.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--<h1>Global Research and Development Assets</h1>-->

<style>
    .scrollable-table {
        max-height:800px;
        overflow-y:auto;
        display: inline-block;
        width:100%;
    }

    .scrollable-table .table {
        width : 100%;
        table-layout: fixed;
    }
</style>

<h2>Assets</h2>
<form method="get">
    <div class="form-group">
        <label for="AssetTypeFilter">Filter by Asset Type:</label>
        <select id="AssetTypeFilter" asp-for="SelectedAssetType" class="form-control" onchange="this.form.submit();">
            <option value="">Show All</option>
            <option value="Prototype">Prototype</option>
            <option value="Test Equipment">Test Equipment</option>
            <option value="Test Product">Test Product</option>
        </select>
    </div>
</form>
    <div>
        <table class="table">
        <thead>
            <tr>
                <th class="col-type">Type</th>
                <th class="col-name">Name</th>
                <th class="col-description">Description</th>
                <th class="col-serial-number">Serial Number</th>
                <th class="col-asset-number">Asset Number</th>
                <th class="col-location">Location</th>
                <th class="col-calibration">Calibration</th>
                <!-- <th class="col-assigned-to">Assigned To</th> -->
            </tr>
        </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td class="col-type">@asset.AssetType</td>
                        <td class="col-name"><a asp-page="./AssetHistory" asp-route-AssetId="@asset.Id">@asset.Name</a></td>
                        <td class="col-description">@asset.Description</td>
                        <td class="col-serial-number">@asset.SerialNumber</td>
                        <td class="col-asset-number">@asset.AssetNumber</td>
                        <td class="col-location">@asset.Location</td>
                        <td class="col-calibration">@asset.CalibrationDate?.ToString("dd-MMM-yyyy")</td>
                        <!-- <td class="col-assigned-to">@(Model.AssetUserNames.ContainsKey(asset.Id) ? Model.AssetUserNames[asset.Id] : "Unassigned")</td> -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
