@page
@model Assettmanagement.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Global Research and Development Assets</h1>

<table class="table">
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Asset Number</th>
            <th>Serial Number</th>
            <th>Location</th>
            <th>Assigned To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model.Assets)
        {
            <tr>
                <td>
                    <a asp-page="./AssetHistory" asp-route-AssetId="@asset.Id">@asset.Name</a>
                </td>
                <td>@asset.AssetNumber</td>
                <td>@asset.SerialNumber</td>
                <td>@asset.Location</td>
                <td>
                    @if (asset.User != null)
                    {
                        @asset.User.FirstName @asset.User.LastName
                    }
                    else
                    {
                        @:Not assigned
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
